.demo {
  width: 100px;
  height: 100px;
  background-color: lightgray;
  display: inline-block;
  margin: 10px;
}

.red {
  background-color: tomato;
}
.green {
  background-color: yellowgreen;
}
.blue {
  background-color: blue;
}